* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* logo </header> */
.logo {
    text-align: center;
    line-height: 100px;
    height: 100px;
    background-color: #edf2f7;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}

.logo img {
    vertical-align: middle;
}

/* logo </header> */
/* main */
.container {
    box-sizing: border-box;
    margin: 40px auto;
    width: 80%;
    height: 700px;
    background-color: #edf2f7;
    border-radius: 0.5%;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
}

/* main */
/* taskbox */
.taskbox {
    padding: 20px;
    text-align: center;
    border-bottom: solid white 3px;
    border-radius: 0.5%;


}

.taskbox input {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.4);


}

.taskbox button {
    box-sizing: border-box;
    width: 13%;
    height: 40px;
    color: white;
    background-color: #14aaf5;
    border-radius: 5px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.4);
}

/* taskbox */
/* nested list  */



/* nested list  */


ul{
    list-style: none; 
    padding-left: 40px;
}

.arrow{
    font-size: 18px;
    font-weight: 600;
}

.task-reminder{
    margin-top: 12px;
    border-radius: 5px;
    width: 90%;
    background-color: white;
    line-height: 30px;
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.2);
}

.checkbox{
    padding: 5px;
    /* margin: 5px; */
    font-size: 10px;
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    color: green;
    border: 1px solid green;
    background-color: #ffffff;
    border-radius: 50%;
}

.inner-text{
    text-decoration: line-through;
    text-decoration-color: black;
}


.editorial {
    margin: 5px;
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 70px;
    box-sizing: border-box;
    color: white;
    background-color: #14aaf5;
    border-radius: 10px;
    text-decoration: line-through;
    text-decoration-color: black;
}



















/* 
.prova{

}


 */
/* 
U+027A4
UNICODE
&#x27A4;
HEX CODE
&#10148;
HTML CODE 
*/